{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Accounts</h2>

    <section id="accounts">

        {% for account in accounts %}

            <div class="account">

                <header>
                    <h3>{{ account.title }}</h3>
                </header>

                <p>{{ account.body | paragraphs }}</p>

                <footer>
                </footer>

            </div>

        {% else %}

            <p>No Accounts!</p>

        {% endfor %}

    </section>

{% endblock %}

