{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Add a category</h2>

    <section id="add_categories">

        {% for cat in cat_data %}

            <div class="add_cat">

                <header>
                    <h3>{{ add_cat.title }}</h3>
                </header>

                <p>{{ add_cat.body | paragraphs }}</p>

                <footer>
                </footer>

            </div>

        {% else %}

            <p>No categories!</p>

        {% endfor %}

    </section>

{% endblock %}

