{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Categories</h2>

    <section id="accounts">

        {% for cat in cat_data %}

            <div class="account">

                <header>
                    <h3>{{ cat.name }}</h3>
                </header>

                <p>Total: ${{ cat.total }}</p>
            </div>

        {% else %}

            <p>No Categories!</p>

        {% endfor %}

    </section>

{% endblock %}

